<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
    <% if (username) { %>
      <!-- Show username and logout form if the user is logged in -->
      <p style="color: white; margin: 0 1rem;">Logged in as <%= username %></p>
      <form action="/logout" method="post" style="display: inline;">
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
    <% } else { %>
      <!-- Show the login form if the user is not logged in -->
      <form action="/login" method="post" style="display: inline;">
        <!-- Single text input for the username -->
        <input type="text" name="username" placeholder="Username" required>

        <!-- Submit button to submit the form -->
        <button type="submit">Login</button>
      </form>
    <% } %>
  </nav>
</header>